.sales-points
  padding: 8em 0
  @media (min-width: 725px)
<<<<<<< HEAD
    padding: 11em 0 5em 0
=======
    padding: 10em 0 3em 0
>>>>>>> d334971c2a653267a9635b3f34965fd1f523a3d5

.sales-point
  margin-bottom: 3.5em

  &:first-of-type
    margin-top: 1.5em

  &:last-child
    margin-bottom: 0

  @media(min-width: 725px)
    &:first-of-type
      margin-top: 0
